.main-content {
  width: 100%;
  padding: 24px 32px;

  /* 設定最小寬度防止footer跳動 */
  min-height: 100%;

  /* 防止footer覆蓋 */
  margin-bottom: 90px;

  /* 版面置中 */
  display: flex;
  justify-content: center;
}
